*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Itim', cursive;
    text-align: center;
}
body{
    background-color: rgb(250, 241, 225);
}

.container{
    border: 2px solid red;
    border-radius: 10px;
    width: 550px;
    margin-left: 300px;
    margin-top: 50px;
    background-color: #0E2F2F;
  
    
}
h3{
   
    color: orange;
    font-size:x-large;
    margin-bottom: 20px;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-shadow: 2px 2px 1px rgb(91, 92, 95);

}
input{
    width: 100px;
    margin: 10px;
    background-color: gray;
    border-radius: 10px;
    border: 1px solid black;

}
button{
    width: 100px;
    padding: 5px;
    background-color: rgb(247, 173, 82);
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;

}
h4{
    margin-bottom: 50px;
    letter-spacing: 1px;
    
}
footer{
  font-size: 30px;
  margin-right: 20px;
}
a{
    margin-right: 5px;

}


 
